body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    background-color: #f3f4f6;
}

/* Card hover */
.card-glow {
    transition: all 0.3s ease-in-out;
}

.card-glow:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

/* Button hover */
.btn-hover:hover {
    background-color: #0d9488;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*scrollbar */
::-webkit-scrollbar {
    inline-size: 8px;
}

::-webkit-scrollbar-track {
    background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}

.text-green-600 {
    color: #16a34a;
}

.text-red-600 {
    color: #dc2626;
}

.text-yellow-800 {
    color: #92400e;
}

.text-green-800 {
    color: #166534;
}

.text-red-800 {
    color: #991b1b;
}

.bg-yellow-200 {
    background-color: #fef3c7;
}

.bg-green-200 {
    background-color: #dcfce7;
}

.bg-red-200 {
    background-color: #fecaca;
}

/* background colors password strength */
.bg-gray-400 {
    background-color: #9ca3af;
}

.bg-red-500 {
    background-color: #ef4444;
}

.bg-orange-500 {
    background-color: #f97316;
}

.bg-yellow-500 {
    background-color: #eab308;
}

.bg-lime-500 {
    background-color: #84cc16;
}

.bg-teal-500 {
    background-color: #14b8a6;
}

/* Text colors password strength */
.text-gray-400 {
    color: #9ca3af;
}

.text-red-500 {
    color: #ef4444;
}

.text-orange-500 {
    color: #f97316;
}

.text-yellow-500 {
    color: #eab308;
}

.text-lime-500 {
    color: #84cc16;
}

.text-teal-500 {
    color: #14b8a6;
}